<a href="https://colab.research.google.com/github/ariandiniaulia/Machine-Learning/blob/main/House_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Ariandini Aulia Bachry
*   H071201054
*   Sistem Informasi Universitas Hasanuddin

In [ ]:
#basic data exploration

import pandas as pd

# save filepath to variable for easier access
melbourne_file_path = '../input/melbourne-housing-snapshot/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv('/melb_data.csv') 
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

# Selecting Data For Modeling

Untuk memilih variabel/kolom, kita harus melihat daftar semua kolom dalam himpunan data. Itu dilakukan dengan properti kolom DataFrame (garis bawah kode di bawah).

In [ ]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Memilih target prediksi

Anda dapat mengeluarkan variabel dengan notasi titik. Kolom tunggal ini disimpan dalam Seri, yang secara luas seperti DataFrame dengan hanya satu kolom data. Kita akan menggunakan notasi titik untuk memilih kolom yang ingin kita prediksi, yang disebut target prediksi. Secara konvensi, target prediksi disebut y. Jadi kode yang kita butuhkan untuk menghemat harga rumah di data Melbourne adalah..

In [ ]:
y = melbourne_data.Price

Memilih "Fitur"

Kolom yang dimasukkan ke dalam model kami (dan kemudian digunakan untuk membuat prediksi) disebut "fitur." Dalam kasus kami, itu akan menjadi kolom yang digunakan untuk menentukan harga rumah. Terkadang, Anda akan menggunakan semua kolom kecuali target sebagai fitur. Di lain waktu Anda akan lebih baik dengan lebih sedikit fitur. Untuk saat ini, kami akan membangun model dengan hanya beberapa fitur. Nanti Anda akan melihat cara mengulangi dan membandingkan model yang dibuat dengan fitur yang berbeda.

Kami memilih beberapa fitur dengan menyediakan daftar nama kolom di dalam tanda kurung. Setiap item dalam daftar itu harus berupa string (dengan tanda kutip).

Berikut ini contohnya:

In [ ]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

X = melbourne_data[melbourne_features]

X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [ ]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

Berikut adalah contoh mendefinisikan model pohon keputusan dengan scikit-learn dan menyesuaikannya dengan fitur dan variabel target.

In [ ]:
from sklearn.tree import DecisionTreeRegressor

melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

Dalam praktiknya, Anda pasti ingin membuat prediksi untuk rumah baru yang akan datang di pasar daripada rumah yang sudah kita hargai. Tapi kita akan membuat prediksi untuk beberapa baris pertama dari data pelatihan untuk melihat bagaimana fungsi prediksi bekerja.

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
The predictions are
[1480000. 1035000. 1465000.  850000. 1600000.]

# Model Validation

Ada banyak metrik untuk meringkas kualitas model, tetapi kita akan mulai dengan yang disebut Mean Absolute Error (juga disebut MAE). Untuk menghitung MAE, pertama-tama kita membutuhkan model.

In [ ]:
filtered_melbourne_data = melbourne_data.dropna(axis=0)
# Choose target and features
y = filtered_melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = filtered_melbourne_data[melbourne_features]

from sklearn.tree import DecisionTreeRegressor
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor()

Setelah kita memiliki model, berikut adalah cara kita menghitung kesalahan absolut rata-rata:

In [ ]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

Masalah dengan Skor "Dalam Sampel".
Ukuran yang baru saja kita hitung dapat disebut skor "dalam sampel". Kami menggunakan satu "sampel" rumah untuk membangun model dan mengevaluasinya. Inilah mengapa ini buruk. Bayangkan, di pasar real estat besar, warna pintu tidak terkait dengan harga rumah.

Namun, dalam sampel data yang Anda gunakan untuk membangun model, semua rumah dengan pintu hijau sangat mahal. Tugas model adalah menemukan pola yang memprediksi harga rumah, sehingga akan melihat pola ini, dan akan selalu memprediksi harga tinggi untuk rumah dengan pintu hijau.
Karena pola ini berasal dari data pelatihan, model akan tampak akurat dalam data pelatihan.

Tetapi jika pola ini tidak berlaku ketika model melihat data baru, model akan sangat tidak akurat ketika digunakan dalam praktik.
Karena nilai praktis model berasal dari membuat prediksi pada data baru, kami mengukur kinerja pada data yang tidak digunakan untuk membangun model. Cara paling mudah untuk melakukan ini adalah dengan mengecualikan beberapa data dari proses pembuatan model, dan kemudian menggunakannya untuk menguji keakuratan model pada data yang belum pernah dilihat sebelumnya. Data ini disebut data validasi.

Pustaka scikit-learn memiliki fungsi train_test_split untuk memecah data menjadi dua bagian. Kami akan menggunakan beberapa data tersebut sebagai data pelatihan agar sesuai dengan model, dan kami akan menggunakan data lainnya sebagai data validasi untuk menghitung mean_absolute_error.

In [ ]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)
# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

260672.13298902518

# Underfitting dan Overfitting

overfitting, di mana model cocok dengan data pelatihan hampir sempurna, tetapi tidak buruk dalam validasi dan data baru lainnya. Di sisi lain, jika kita membuat pohon kita sangat dangkal, itu tidak membagi rumah menjadi kelompok yang sangat berbeda. Ketika model gagal menangkap perbedaan dan pola penting dalam data, sehingga kinerjanya buruk bahkan dalam data pelatihan, itu disebut underfitting.

Ada beberapa alternatif untuk mengendalikan kedalaman pohon, dan banyak yang memungkinkan beberapa rute melalui pohon memiliki kedalaman yang lebih besar daripada rute lain. Tetapi argumen max_leaf_nodes memberikan cara yang sangat masuk akal untuk mengontrol overfitting vs underfitting. Semakin banyak daun yang kita izinkan untuk dibuat oleh model, semakin kita bergerak dari area underfitting pada grafik di atas ke area overfitting. Kita dapat menggunakan fungsi utilitas untuk membantu membandingkan skor MAE dari nilai yang berbeda untuk max_leaf_nodes:

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

Kita dapat menggunakan for-loop untuk membandingkan akurasi model yang dibangun dengan nilai yang berbeda untuk max_leaf_nodes.

In [ ]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  347380
Max leaf nodes: 50  		 Mean Absolute Error:  258171
Max leaf nodes: 500  		 Mean Absolute Error:  243495
Max leaf nodes: 5000  		 Mean Absolute Error:  254983

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626