<a href="https://colab.research.google.com/github/ariandiniaulia/Machine-Learning/blob/main/Pandas_Framework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

pandas data table representation

In [6]:
df = pd.DataFrame(
{
"Name": [
  "Braund, Mr. Owen Harris",
  "Allen, Mr. William Henry",
  "Bonnell, Miss. Elizabeth",
        ],
"Age": [22, 35, 58],
"Sex": ["male", "male", "female"],
}
)

Setiap kolom dalam DataFrame adalah Seri

In [7]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

Saat memilih satu kolom pandas DataFrame, hasilnya adalah Pandas Series. Untuk memilih kolom, gunakan label kolom di antara tanda kurung siku [].

Anda juga dapat membuat Seri dari awal:

In [9]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

mengetahui usia maksimum penumpang

In [10]:
df["Age"].max()

58

In [11]:
ages.max()

58

statistik dasar dari data numerik

In [12]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000